<p>
  Use this to Count the pages in PDF Files
</p>
<p>
  <input type="file" (change)="uploadFolder($event)" multiple accept="pdf/*" />
</p>
<table *ngIf='result && result.length'>
    <!-- 
       
    -->
    <button mat-fab color="primary" aria-label="Click to Copy" [cdkCopyToClipboard]="clipboardResult()">
      <mat-icon>copy_all</mat-icon>
    </button>
  <p id="resultTable">
  <tr>
    <th>#</th>
    <th>File Name</th>
    <th>Page Count</th>
  </tr>
  <tr *ngFor="let row of result;let indexOfelement=index;">
    <td>{{indexOfelement+1}}</td>
    <td>{{row.name}}</td>
    <td>{{row.pageCount}}</td>
  </tr> 
  <tfoot class="tableLine">
    <td></td>
    <td></td>
    <td>{{globalCount}}</td>
  </tfoot>
</p>
</table>