<body class="mainFile">
  <h1>eGangotri PDF Page Counter</h1>
  <p>
    Please Enter your Name: <input type="text" #box (blur)="onBlur(box.value)" value="{{this.name}}" />
  <p>
    <input type="file" (click)="resetToDefault()" (change)="uploadFolder($event)" multiple accept="application/pdf" />
  </p>

  <span *ngIf='this.stats.result && this.stats.result.length'>
    <div class="center">
      <mat-spinner *ngIf="isWait" diameter="40" color="accent"></mat-spinner>
    </div>
    <div>
      <ng-container *ngTemplateOutlet="panel"></ng-container>
      <div></div>
      <div>{{this.stats.header}}</div>
      <table>
        <p id="resultTable">
          <thead>
            <tr>
              <td></td>
              <td>Grand Total Page Count</td>
              <td></td>
              <td></td>
              <td align="right">{{globalCount}}</td>
            </tr>
            <tr>
              <td></td>
              <td>Grand Total Size</td>
              <td></td>
              <td></td>
              <td align="right">{{getTotalSize()}}</td>
            </tr>
          </thead>
          <tr>
            <th>#</th>
            <th>File Name</th>
            <th>Page Count</th>
            <th>&nbsp;&nbsp;</th>
            <th>PDF Size</th>
          </tr>
          <tr *ngFor="let row of this.stats.result;let indexOfelement=index;">
            <td>{{row.counter}}</td>
            <td>{{row.name}}</td>
            <td align="right">{{row.pageCount}}</td>
            <td>&nbsp;&nbsp;</td>
            <td align="right">{{row.pdfSize}}</td>
          </tr>
        </p>
      </table>
    </div>

  </span>

  <ng-template #panel>
    <div>
      <button (click)="confirmationAlert()" tooltip="Click to Copy the Results" mat-raised-button color="primary"
        [cdkCopyToClipboard]="clipboardResult()" [disabled]="isWait">Copy Results
        <mat-icon>content_copy
        </mat-icon>
      </button>&nbsp;
      <button (click)="resetToDefault()" tooltip="Click to Copy the Results" mat-raised-button color="primary">Clear
        Results
        <mat-icon matTooltip="Clear Board">clear</mat-icon>
      </button>
    </div>
  </ng-template>
</body>